{{> head}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles.css">
  <title>About Us</title>
</head>
<body>
  <div class="abt_container">
    <h1 class="abt-heading">About Us</h1>
    <div class="team-container">
      <div class="team-member">
      <h3>Alex Schwarz</h3>
      <p>alsc3632@colorado.edu</p>
      <p>Role: Front End</p>
      <button class="btn" onclick="togglePopup('popup1')">Contributions</button>
      <div id="popup1" class="popup">
        <ul>
            <li>Login Page</li>
            <li>Register Page</li>
            <li>Navigation Bar</li>
            <li>This Page</li>
            <li>Calendar Page</li>
            <li>CSS Work</li>
        </ul>
      </div>

    </div>
    <div class="team-member">
      <h3>Elkan Bruha</h3>
      <p>elbr5153@colorado.edu</p><!--email here-->
      <p>Role: Full Stack</p><!--role here-->
      <button class="btn" onclick="togglePopup('popup2')">Contributions</button>
      <div id="popup2" class="popup">
        <ul><!--contributions here, feel free to add or remove lines as needed-->
            <li>Frontend CSS</li>
            <li>Home Page</li>
            <li>Calendar Page</li>
            <li>Timezone Manager</li>
            <li>Connections with backend</li>
            <li>Login and signout API</li>
            <li>Database finetuning</li>
        </ul>
      </div>
    </div>
    <div class="team-member">
      <h3>Lucas Williamson</h3>
      <p>email3@email.com</p><!--email here-->
      <p>Role: Front End</p><!--role here-->
      <button class="btn" onclick="togglePopup('popup3')">Contributions</button>
      <div id="popup3" class="popup">
        <ul><!--contributions here, feel free to add or remove lines as needed-->
            <li>Help Page</li>
            <li>Calendar Page</li>
            <li>Database connection</li>
            <li>CSS Work</li>
            <!--<li>Filler till yall fill it</li> -->
        </ul>
      </div>
    </div>
    <div class="team-member">
      <h3>Nasen Alm</h3>
      <p>email4@email.com</p><!--email here-->
      <p>Role: Backend</p><!--role here-->
      <button class="btn" onclick="togglePopup('popup4')">Contributions</button>
      <div id="popup4" class="popup">
        <ul><!--contributions here, feel free to add or remove lines as needed-->
            <li>Intial Node.js Setup</li>
            <li>iCalendar Download Feature</li>
        </ul>
      </div>
    </div>
    <div class="team-member">
      <h3>Prajinkumar Suresh Kannan</h3>
      <p>prsu4616@email.com</p><!--email here-->
      <p>Role: Backend, Videocall, and Milestones</p><!--role here-->
      <button class="btn" onclick="togglePopup('popup5')">Contributions</button>
      <div id="popup5" class="popup">
        <ul><!--contributions here, feel free to add or remove lines as needed-->
            <li>Initial API Endpoints</li>
            <li>Video Call Feature</li>
            <li>Updated the Milestones Folder</li>
        </ul>
      </div>
    </div>
    <div class="team-member">
      <h3>Yuxiang Wang</h3>
      <p>yuwa1155@colorado.edu</p><!--email here-->
      <p>Role: back end</p><!--role here-->
      <button class="btn" onclick="togglePopup('popup6')">Contributions</button>
      <div id="popup6" class="popup">
        <ul><!--contributions here, feel free to add or remove lines as needed-->
            <li>Database</li>
            <li>test</li>
            <li>.env file</li>
        </ul>
      </div>
    </div>
  </div>
    </div>
  </div>
  <footer id="bottom-note">
    © 2025 ScheduleMe. All Rights Reserved.
  </footer>
  <script>
    function togglePopup(id) {
      const popup = document.getElementById(id);
      popup.style.display = popup.style.display === 'block' ? 'none' : 'block';
    }
  </script>
</body>
</html>
