{{> head title="Calander - ScheduleMe" }}

<div class="row">
  <div class="col-2">
    <div class="custom-container">
      <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#event_modal">Create Event</button>
    </div>
  </div>
  <div class="col">
    <div class="container-md container-fluid py-4 h-100">
      <div id="calendar" class="row h-100">
        {{#each (array "Sunday" "Monday" "Tuesday" "Wednesday" "Thursday" "Friday" "Saturday")}}
          <div class="col-sm m-1 bg-white rounded px-1 px-md-2" id="{{lower this}}">
            <div class="h6 text-center position-relative py-2 day">{{this}}</div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{!-- Modal --}}
<div class="modal" id="event_modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Appointment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="appointmentForm">
          <div class="mb-3">
            <label for="business_id" class="form-label">Select Business</label>
            <select class="form-select" id="business_id" required>
              <option value="">Select a business</option>
              <option value="google">Google</option>
              <option value="amazon">amazon</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="start_time" class="form-label">Start Time</label>
            <input type="datetime-local" class="form-control" id="start_time" required>
          </div>
          <div class="mb-3">
            <label for="end_time" class="form-label">End Time</label>
            <input type="datetime-local" class="form-control" id="end_time" required>
          </div>
          <div class="mb-3">
            <label for="reason" class="form-label">Reason for Meeting</label>
            <textarea class="form-control" id="reason" rows="3" required></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="saveEvent()">Create Appointment</button>
      </div>
    </div>
  </div>
</div>


<script src="/js/calendar.js"></script>
