{{> message}}
<form action="/login" method="POST">
  <h1 style="text-align: center;">Login</h1>

  <input type="text" name="username" placeholder="Username" style="text-align: center;">
  <input type="password" name="password" placeholder="Password" style="text-align: center;">

  <button type="submit" style="text-align: center;">Login</button>
  <a href="/register" style="text-align: center;">Don't have an account? Register here.</a>
</form>