{{> head}}
{{> nav}}

<body>
  <h2>Appointments</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Appointment ID</th>
        <th>Members</th>
        <th>Time</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {{#each appointments}}
        <tr>
          <td>{{this.appointment_id}}</td>
          <td>{{this.members}}</td>
          <td>{{this.time}}</td>
          <td>{{this.description}} </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</body>

