{{> message message = message}}

<h1 style="text-align: center;">Successfully Logged Out!</h1>
<div>
    <p style="text-align: center;">You have been successfully logged out. If you would like to log back in, click the link below.</p>
    <a href="/login" style="text-align: center;"> Login Again</a>
</div>