<form action="/register" method="POST">
  <h1 style="text-align: center;">Register</h1>
  <label for="username" style="text-align: center;">Username:</label>
  <input type="text" id="username" name="username">

  <label for="password">Password:</label>
  <input type="password" id="password" name="password">

  <button type="submit">Register</button>
  <a href="/login">Already have an account? Login here.</a>
</form>