/* Main CSS Idea

Background is a lighter color, while text is a darker color. Accent is the same green as in the logo. 

*/

@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

/* Root color variables */

:root {
    --primary-color: #151515;
    --secondary-color: #000000;
    --accent-color: #849e4b;
    --light-color: #ffffff;
    --navbar-color: #d7d7d7;
    --light-gray-color: #bbbbbb;
    --gray-color: #7c7c7c;
    --dark-gray-color: #333333;
    --code-bg-color: #272822; /* Background color for code */
    --code-text-color: #b6b6b6; /* Text color for code */
}

/* Main font and default text style */

body {
    font-family: "SF Pro Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wght" 300;
    height: 100%;
    margin: 0;
    color: var(--primary-color);
}

body a {
    color: var(--accent-color);
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

/* Nav bar */

.navbar {
    background-color: var(--navbar-color) !important; 
}
  
.nav-link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
}

.nav-link:hover {
    color: var(--accent-color);
    text-decoration: none;
}

/* Main title */

/* Subtitle */

/* Bottom note (footer) */

#bottom-note {
    font-size: 1rem;
    color: var(--light-gray-color);
    text-align: center;
    width: 100%;
    padding-bottom: -5px;
}

/* Image classes */

.rounded-home-image {
    border-radius: 20%;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    display: block;
}

/* Animation for arrow */
.arrow-down {
    animation: bounce 3s infinite;
    color: var(--accent-color);
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-7px);
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f8f8f8;
}

.login-container {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 20px;
}

.login-container input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--primary-color);
    color: var(--light-color);
    border-radius: 5px;
    cursor: pointer;
}

.login-container p {
    margin-top: 10px;
}

/* Toggle style*/
.toggle-wrapper {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 250px;
    height: 40px;
    background-color: var(--light-gray-color);
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-label-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 10px;
    z-index: 2;
}

.toggle-label {
    font-size: 1rem;
    font-weight: bold; 
    color: var(--primary-color);
    transition: all 0.3s ease;
}

.toggle-label.customer {
    text-align: left;
}

.toggle-label.business {
    text-align: right;
}

.highlight {
    color: white;
    font-weight: bold;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--accent-color);
    border-radius: 50px;
    transition: 0.4s ease-in-out;
}

input:checked + .slider {
    transform: translateX(100%);
}
